@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");
@import "./variable.css";

/* screen */
@import "./css/screen/home.css";
@import "./css/screen/about.css";
@import "./css/screen/projects.css";
/* media */
@import "./css/media.css";

p,
h3,
h4 {
  color: var(--p-color);
}

#container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-color);
}

header {
  top: 0;
  width: 100%;
  z-index: 1;
}
/* 스크롤 전에는 일반메뉴
스크롤하면 상단고정, 그림자 생성  */
.scrolled {
  background-color: var(--header-color);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  transition: all 0.5s ease-in-out;
}

#headerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 2rem 7rem;
}

#logo {
  width: 45%;
  padding: 5px;
  font-weight: bold;
  font-size: 30px;
}
#mode {
  width: 60px;
  padding: 5px;
  display: flex;
  justify-content: end;
  order: 3;
}
.mode__border {
  width: 60px;
  height: 30px;
  border-radius: 20px;
  position: relative;
  background-color: var(--subPoint-color);
  cursor: pointer;
}
.mode__circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 32.5px;
  top: 2.5px;
  cursor: pointer;
  background-color: white;
  transition: right 0.2s ease-in-out;
}
/* 다크모드 활성화 */
.active {
  background-color: var(--p-color);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  .mode__circle {
    right: 2.5px;
  }
}

#nav {
  width: 40%;
}
#nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#nav ul li a {
  display: inline-block;
  width: 90px;
  padding: 5px;
  text-align: center;
  margin-left: 0.7rem;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 130px;
  background-color: var(--footer-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--white);
}

footer span:last-child {
  font-weight: lighter;
}
