#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin-bottom: 90px;
}

#projects .content__title {
  margin: 160px 0 90px 0;
}
.projects__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects__contents-box {
  width: 75%;
  height: 450px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 32px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 90px;
}
.projects__contents-box:nth-child(even) {
  .projects__contents-img {
    order: 2;
    margin-right: 0;
    margin-left: 64px;
  }
}
.projects__contents-img {
  width: 60%;
  height: 400px;
  border-radius: 20px;
  margin-right: 64px;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.projects__contents-img img {
  max-width: 100%;
  object-fit: cover;
}
.projects__contents-text {
  width: 40%;
  text-align: center;
}
.projects__contents-text h1 {
  font-size: 22px;
  margin-bottom: 16px;
}
.project-device span i {
  font-size: 20px;
  margin: 16px;
  color: var(--p-color);
}
.projects__contents-text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
}

.project-skill ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-skill ul li {
  margin: 32px 9px 16px 9px;
  padding: 13px;
  color: var(--white);
  font-size: 15px;
  border-radius: 5px;
}
.project-skill ul li:first-child {
  background-color: var(--js-color);
}

.project-skill ul li:last-child {
  background-color: var(--css-color);
}
.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-link a {
  margin: 16px;
  padding: 9px 16px;
  font-size: 20px;
}
.project-link a span {
  margin-right: 9px;
}
